.Text {
    text-align: end;
}

.validation {
    color: red;
    font-size: 13px;
}


.Img {

    width: 866px;
    height: 40px;
}


.tableTypeB {
    margin: 20px 0px 0px 0px;
    border: none;
    width: 100%;
    border-top: #cdcbbe solid 1px;
    border-collapse: collapse;
    table-layout: fixed;
}

.tableTypeB th,
.tableTypeB td {
    border: none;
    padding: 7px;
    text-align: left;
    border-bottom: #eceae1 solid 1px;
    color: #333333;
}

.tableTypeB th {
    color: #666;
    background: #faf9f4;
}


.tableTypeA .last th, .tableTypeA .last td {
    border-bottom: #cdcbbe solid 1px;
}

.tableTypeA .bdBot {
    border-bottom: #cdcbbe solid 1px !important;
}

.ast {
    color: #F33;
    font-weight: bold;
    font-size: 10px;
    font-family: Verdana;
    vertical-align: middle;
}


.tableTypeB .number {
    size: 30px;
}



.tableTypeA {
    /*margin: 20px 0px 0px 0px;*/
    border: none;
    width: 100%;
    /*border-top: #cdcbbe solid 1px;*/
    border-collapse: collapse;
    table-layout: fixed;
}

.tableTypeA th,
.tableTypeA td {
    border: none;
    padding: 7px;
    text-align: left;
    line-height: 22px;
    /*border-bottom: #eceae1 solid 1px;*/
    color: #333333;
}

.tableTypeA th {
    color: rgb(66 66 66);
    background: #ffffff;
}


.tableTypeC {
    border: none;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tableTypeC th,
.tableTypeC td {

    border: none;
    padding: 7px;
    text-align: left;
    line-height: 22px;
    border-bottom: #eceae1 solid 1px;
    color: #333333;
}

.tableTypeC th {
    color: rgb(66 66 66);
    background: #ffffff;
}
.Text {
    text-align: end;
}

.Img {

    width: 866px;
    height: 40px;
}


.tableTypeB {
    margin: 20px 0px 0px 0px;
    border: none;
    width: 100%;
    border-top: #cdcbbe solid 1px;
    border-collapse: collapse;
    table-layout: fixed;
}

.tableTypeB th,
.tableTypeB td {
    border: none;
    padding: 7px ;
    text-align: left;
    border-bottom: #eceae1 solid 1px;
    color: #333333;
}

.tableTypeB th {
    color: rgb(66 66 66);
    background: #ffffff;
}



.tableTypeB .last th, .tableTypeB .last td {
    border-bottom: #cdcbbe solid 1px;
}

.tableTypeB .bdBot {
    border-bottom: #cdcbbe solid 1px !important;
}

.ast {
    color: #F33;
}



.tableTypeB .number {
    size: 30px;
}
