
.wrapper{
    list-style: none;
    text-decoration: none;
}

.AccoMenu{
    display: block;
    border-radius: 10px;
}
.item{
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
}
.btnAcc{
    display: block;
    padding: 15px 20px;
    background-color: #ffffff;
    color: #909090;
    position: relative;

}
.btnAcc:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid #ffffff;
    right: 15px;
    bottom: -10px;
    z-index: 9;

}
.btn i {
    margin-right: 10px;
}
.subMenu{
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.subMenu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid rgba(154, 154, 154, 0.42);
    position: relative;

}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; */
    border-top: 24px solid transparent;
    border-left: 11px solid #ffffff;
    border-bottom: 24px solid transparent;
}
.subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; */
    border-top: 24px solid transparent;
    border-right: 11px solid #ffffff;
    border-bottom: 24px solid transparent;
}
.item:target .subMenu{
    max-height: 200em;
}
