.custom-btn {
    font-size: 18px;
    width: 130px;
    height: 60px;
    padding: 10px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
.custom-btn2 {
    font-size: 18px;
    width: 130px;
    height: 45px;
    padding: 10px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
.custom-btnLR {
    font-size: 18px;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-Login {
    background: #000;
    color: #fff;
    z-index: 0;
}
.btn-Login:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #ffffff;
    transition: all 0.3s ease;
}
.btn-Login:hover {
    color: #000;
}
.btn-Login:hover:after {
    left: 0;
    width: 100%;
}
.btn-Login:active {
    top: 2px;
}

.custBtn {
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 40px;
    padding: 0;
}
.custBtn:hover{
    border: none;
}
.custBtn:before,
.custBtn:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
}
.custBtn:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #000;
    border-left-color: #000;
}
.custBtn:after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #000;
    border-right-color: #000;
}
.custBtn:hover:before,
.custBtn:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
}

.btnMypage {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}
.btnMypage:hover {
    background: transparent;
    color: #000;
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
}
.btnMypage:before,
.btnMypage:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
}
.btnMypage:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btnMypage:hover:before,
.btnMypage:hover:after{
    width:100%;
    transition:800ms ease all;
}