.Text {
    text-align: end;
}

.Img {
    background-image: url("1.gif");
    width: 866px;
    height: 40px;
}

.titTypeA {
    height: 26px;
    padding: 0px 0 0 0;
    margin: 0 0 10px 0;
}

.titTypeA .tit {
    float: left;
    background:  no-repeat 0 1px;
    padding: 0 0 0 25px;
    line-height: 22px;
    font-size: 16px;
    font-weight: bold;
}

.titTypeA .btnPack {
    color: #898989;
    padding: 0px 0 0 0;
    float: right;
}

.titTypeB {
    height: 20px;
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
}

.titTypeB .tit {
    float: left;
    background:  no-repeat 3px 5px;
    padding: 0 0 0 12px;
    color: #666;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
}

.titTypeC {
    height: 20px;
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
}

.titTypeC .tit {
    float: left;
    background:  no-repeat 0 7px;
    padding: 0 0 0 10px;
    color: #888;
    line-height: 20px;
    font-size: 11px;
}


.tableTypeA {
    margin: 20px 0px 0px 0px;
    border: none;
    border-top: #cdcbbe solid 1px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tableTypeA th,
.tableTypeA td {
    border: none;
    padding: 6px 13px;
    text-align: left;
    line-height: 22px;
    border-bottom: #eceae1 solid 1px;
    color: #333333;
}

.tableTypeA th {
    color: #666;
    background: #faf9f4;
}

th.first {
}

.tableTypeA td {
    background: #FFF;
    color: #1b1b1b
}

.tableTypeA .last th, .tableTypeA .last td {
    border-bottom: #cdcbbe solid 1px;
}

.tableTypeA .bdBot {
    border-bottom: #cdcbbe solid 1px !important;
}

.Ast {
    color: #F33;
     font-weight: bold;
    font-size: 10px;
    font-family: Verdana;
    vertical-align: middle;
}


.id{
    width: 130px;


}
